body {
    display: grid;
    place-content: center;
    margin: 0;
    height: 100vh;
    background: #555;
  }
  
  .container {
    --d: 3em; /* image size */
    --rel: 0.25; /* how much extra space we want between images, 1 = one image size */
    --r: calc(.5*(1 + var(--rel))*var(--d)/var(--tan)); /* circle radius */
    --s: calc(2*var(--r) + var(--d)); /* container size */
    position: relative;
    width: var(--s); height: var(--s);
  }
  
  .container div {
    position: absolute;
    top: 50%; left: 50%;
    margin: calc(-.5*var(--d));
    width: var(--d);
    height: var(--d);
    
    --az: calc(90deg + var(--i) * 1turn / var(--m));
    
    transform:
      rotate(var(--az)) 
      translate(var(--r))
      rotate(calc(-1*var(--az)));
  }
  
  path {
    cursor: pointer;
  }
  