.root {
    background-color: #2f4f4f;
}

.game {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

footer {
    position: fixed;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

/* soon class with drop shadow */
.soon {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%);
}

/* soon-inner black text */
.soon-inner {
    margin: 1em;
    position: relative;
    color: #2D3837;
}

.sm {
    font-size: 13px;
    font-style: italic;
}
