.root {
    background-color: #2f4f4f;
    pointer-events: none;
}

.game {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    pointer-events: all;
}

/* soon class with drop shadow */
.soon {
    position: absolute;
}

/* soon-inner black text */
.soon-inner {
    margin: 1em;
    position: relative;
    color: #2D3837;
}

.sm {
    font-size: 13px;
    font-style: italic;
}

.game,
canvas:focus {
    outline: none;
}
